<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-3">
    <%= form.text_field :name, class:"form-control", placeholder: "Name" %>
  </div>

  <div class="field mt-3">
    <%= form.label :icon, class:"block text-gray-700 font-bold mb-2", style: "display: block" %>
    <%= form.select :icon, [
      ["Household goods", "house-chimney-window-solid.svg"],
      ["Bills", "money-bill-1-wave-solid.svg"],
      ["Clothing", "shirt-solid.svg"],
      ["Medicines", "notes-medical-solid.svg"],
      ["Holidays", "snowman-solid.svg"],
      ["Gifts", "gift-fill.svg"],
      ["Fuel", "fuel-pump.svg"],
      ["Pets", "paw-solid.svg"],
      ["Food", "basket-shopping-solid.svg"],
      ["other", "gear-solid.svg"]
    ], class: 'form-control', placeholder: 'icon' %>
  </div>

  <div class="field mt-3">
    <%= form.text_field :description, class:"form-control", placeholder: "Description" %>
  </div>

  <div calass="field mt-3">
    <%= form.submit 'Submit', class: 'form-control' %>
  </div>
<% end %>
