<div class="container">
    <p style="color: green"><%= notice %></p>

    <h1 class="CT">Categories</h1>

    <div id="categories">
      <% @categories.each do |category| %>
      <% if can? :delete, category %>
      <p>
      <%= render category %>
      </p>
      </div>
      <div>
      <%= link_to 'Edit', edit_category_path(category) %>
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>
    <div>
      <% end %>
    </div>

    <%= link_to "New category", new_category_path %>
</div>
