<%= render partial: "layouts/navbar", locals: {heading: 'CATEGORIES', back_path: categories_path} %>

    <p style="color: green"><%= notice %></p>

    <div id="categories">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <% @categories.each do |category| %>
                    <% if can? :edit, category %>
                        <tr>
                            <td><%= render category %></td>
                            <td>
                                <%= link_to 'Edit', edit_category_path(category), class: "btn-edit" %>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>

<footer class="footer">
<%= link_to "New category", new_category_path, class: 'btn' %>
</footer>