<div class="container">
  <div id="<%= dom_id expense %>", class="ditails">
      <p class="rowE">
        <span>Name:</span>
        <%= expense.name%>
      </p>

      <div class="rowE">
        <p>Transactionº</p>
        <span><%= expense.created_at.to_time.to_i %></span>
        <span class="fa-regular fa-calendar"></span>
        <span class="mx-2"><%= expense.created_at %></span>
        
      </div>

      <div class="rowE">
        <p>Amount: $
        <span><%= expense.amount %></span>
        </p>
      </div>
      <div>
  
</div>
  </div>
</div>